<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t('.body.reservation_saved_html', RESERVATION: @attached_object.reservable.name) %></p>

<p><%= t('.body.your_reserved_slots') %> </p>
<ul>
<% @attached_object.slots.each do |slot| %>
  <% if @attached_object.reservable_type == 'Event' %>
    <% (slot.start_at.to_date..slot.end_at.to_date).each do |d| %>
      <li><%= "#{I18n.l d, format: :long} #{I18n.l slot.start_at, format: :hour_minute} - #{I18n.l slot.end_at, format: :hour_minute}" %></li>
    <% end %>
  <% else %>
    <li><%= "#{I18n.l slot.start_at, format: :long} - #{I18n.l slot.end_at, format: :hour_minute}" %></li>
  <% end %>
<% end %>
</ul>

<% if @attached_object.reservable_type == 'Event' || @attached_object.reservable_type == 'Training' %>
  <p>Merci d'arriver cinq minutes minutes avant le début de l'activité. Si vous ne pouvez pas venir ou si vous prévoyez d'être en retard, merci de prévenir l'équipe en envoyant un mail à <a href="mailto:contact@labboite.fr">contact@labboite.fr</a></p>
  <% else %>
  <p>Si vous souhaitez annuler votre réservation, vous pouvez le faire depuis le calendrier des disponibilités de la machine, accessible sur le site de LabBoîte.</p>
<% end %>

